<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/adofinni.css}">
    <link rel="stylesheet" th:href="@{css/umskolann.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{js/bootstrap/bootstrap.js}"></script>
</head>
<body>
<!--/*@thymesVar id="newsstory" type=""*/-->
<form action="#" th:action="@{/fih-admin/frettir/add}" th:object="${newsStory}" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="title">Titill</label>
        <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="Titill">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div class="form-group">
        <label for="content">Innihald fréttar</label>
        <textarea class="form-control" type="text" th:field="*{content}" id="content" >Innihald fréttar</textarea>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
    </div>
    <div class="form-group">
        <label for="tag">Masterclass, viðburður eða frétt</label>
        <select class="form-control" th:field="*{tag}" id="tag">
            <option value="Masterclass">MasterClass</option>
            <option value="Viðburður">Viðburður</option>
            <option value="Fréttir">Fréttir</option>
        </select>
        <span th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}"></span>

    </div>
    <div class="form-group">
        <label for="img">Mynd</label>
        <input class="form-control-file"type="file" th:field="*{img}" id="img" placeholder="Mynd">
        <span th:if="${#fields.hasErrors('img')}" th:errors="*{img}"></span>

    </div>
    <input type="submit" value="Bæta við frétt">
</form>
</body>
</html>