<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-4/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="container-fluid d-flex justify-content-around mt-5">
        <div class="row">
            <div class="col">
                <a href="/fih-admin/kennarar">
                    <h3>Kennarar</h3>
                </a>
                <p>Bæta við/ eyða / breyta kennaralýsingum</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/fih-admin/frettir">
                    <h3>Fréttir</h3>
                </a>
                <p>Bæta við/ eyða/ breyta fréttum</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/fih-admin/afangar">
                    <h3>Áfangar</h3>
                </a>
                <p>
                    Bæta við/ eyða /breyta áföngum.
                </p>
            </div>
        </div>

    </div>
</body>

</html>