<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<section id="FIH-footer-container " class="" th:fragment="footer" style="">
    <footer class="page-footer font-small p-4">
        <div class="container-fluid">
            <div class="row d-flex flex-row">
                <div class="col-12 col-sm-12 d-flex flex-row justify-content-center">
                    <img th:src="@{/img/logo/Fihlog03.bmp}" alt="fih-logo">
                </div>
                <div class="col-12 d-flex flex-column align-items-center col-sm-12 mt-1">
                    <h5 class="text-white">Tónlistarskóli FÍH</h5>
                    <p class="text-white">Rauðagerði 27</p>
                    <p class="text-white">115 Reykjavík</p>
                    <p class="text-white">Sími: 565-8857</p>
                    <div class="d-flex">
                        <a href="https://www.facebook.com/fihton/"><i class="fa fa-facebook-official mr-2" style="font-size:36px;color:blue"></i></a>
                        <a href="#"> <i class="fa fa-instagram" style="font-size:36px;color:brown"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</section>

</body>
</html>