<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/umskolann.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
</head>

<body>
    <!-- Nav Bar -->
    <div th:insert="header :: header">

    </div>
    <!-- /Navbar dropdown-->



    <!-- Content-->
    <div class="container ">
        <div class="row m-5" style="background-color: #FEB95F !important; opacity: 80%;">
            <div class=" col-md-7 m-5">
                <h1 class="">Opnunartímar</h1>
                <br>
                <strong>Við erum stödd:</strong>
                <p>Rauðagerði 27 <br> 108 Reykjavík <br> <strong>Sími:</strong> 588-8956</p>
                <br> <br>
                <p>Skrifstofa TFÍH er opin alla virka daga kl. 13:00-17:00</p>
                <p><strong>Ritari: </strong>Júlía Guðlaugsdóttir</p>
                <p><strong>Netfang: </strong> julia@fih.is</p>
            </div>



        </div>
    </div>
    <hr>
    <!-- /Content-->

    <!-- Footer -->
    <div th:insert="footer :: footer">

    </div>

    <!-- /Footer-->

</body>

</html>