<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white" th:fragment="header">
    <a class="navbar-brand" href="/">
        <img src="/img/logo/TFIH_logo_small.jpg" width="60" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <!-- current til að segja til um hvaða síðu maður sé staddur á.-->
                <a class="nav-link dropdown-toggle" href="#" id="umskolannDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Um Skólann <span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="umskolannDropdown">
                    <a class="dropdown-item" href="/umskolann">Um skólann</a>
                    <a class="dropdown-item" href="/stjorn-fih">Stjórn FÍH</a>
                    <!--<div class="dropdown-divider">Kennarar</div>-->
                    <a class="dropdown-item" href="/kennarar">Kennarar</a>
                    <a class="dropdown-item" href="/nemendafelag-fih">Nemendafélag FÍH</a>
                    <a class="dropdown-item" href="/jafnrettisaaetlun">Jafnréttisáætlun FÍH</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="namidDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Námið
                </a>
                <div class="dropdown-menu" aria-labelledby="namidDropdown">
                    <a class="dropdown-item" href="/namsstig">Námsstig</a>
                    <a class="dropdown-item" href="/fraedigreinar">Fræðigreinar</a>
                    <a class="dropdown-item" href="/boklegargreinar">Bóklegar Greinar FÍH/MÍT</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adofinniDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Á döfinni</a>
                <div class="dropdown-menu" aria-labelledby="adofinniDropdown">
                    <a class="dropdown-item" href="/adofinni">Fréttir</a>
                    <a class="dropdown-item" href="https://www.facebook.com/fihton/">Facebook <i class="fa fa-facebook-official"></i></a>
                    <a class="dropdown-item" href="#">Instagram <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/umsoknir">Umsóknir</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/algengarspurningar">
                    Algengar Spurningar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hafasamband">Hafa Samband</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="www.viska.is">Viska</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>