<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/umskolann.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
</head>

<body>
    <!-- Nav Bar -->
    <div th:insert="header :: header">

    </div>
    <!-- /Navbar dropdown-->



    <!-- Content-->
    <div class="container ">
        <div class="row m-5" style="background-color: #FEB95F !important; opacity: 80%;">
            <div class=" col-md-9 m-5">
                <h1 class="">Jafnréttisáætlun</h1>
                <p> Í mannréttindarstefnu Reykjavíkurborgar eru mannréttindaákvæði stjórnarskrárinnar lagðar til grundvallar og er hún byggð á jafnréttisreglunni og miðar að því að allar manneskjur fái notið mannréttinda.
                    <br><br> Mannréttindi eru varin í stjórnarskrá Íslands.
                    <br> <br>Mannréttindarstefnan er byggð á lögum um jafnan rétt kvenna og karla.
                    <br><br> Tónlistarskóli FÍH skuldbindur sig til að vinna að mannréttindum á grundvelli jafnræðis, mannréttinda og góðrar samvinnu við nemendur skólans og kennara og gegna þannig lykilhlutverki í að skapa vellíðan og öryggi þeirra sem
                    skólinn veitir atvinnu og þjónustu.
                    <br><br> Óheimilt er að mismuna fólki vegna kyns og framlag hvers og eins skal metið að verðleikum.
                    <br><br> Konur og karlar skulu njóta sambærilegra kjara og réttinda.
                    <br><br> Stjórnendur og starfsmenn Tónlistarskóla FÍH bera ábyrgð á að tryggja að mannréttindi allra í skólanum séu virt enda beri stjórnendur ábyrgð á að:
                    <br><br>
                    <ol>
                        <li> vinna samkvæmt mannréttindarstefnu Reykjavíkurborgar og kynna þá stefnu ár hvert við skólasetningu.</li>
                        <li>jafnrétti sé hluti af skólastarfi.</li>
                        <li>námsefni mismuni ekki kynjum, heldur hafi mannréttindi allra hópa að leiðarljósi.</li>
                        <li>kennsluhættir taki mið af því fjölbreytta samfélagi sem við búum í.</li>
                        <li>unnið sé markvisst gegn fordómum innan skólans.</li>
                    </ol>
                    <br><br> Tónlistarskóli FÍH mun sjá til þess að jafnréttisstefnunni sé fylgt eftir og standa vörð um að nemendum, kennurum og stjórnendum skólans sé á engan hátt mismunað.
                    <br><br> Að auki mun skólinn, í samræmi við 22. gr. laga um jafna stöðu og jafnan rétt kvenna og karla nr. 10/2008, gera sérstakar ráðstafanir til að koma í veg fyrir að nemendur verði fyrir kynbundinni eða kynferðislegri áreitni í
                    skólanum.

                    <br><br> Kynbundin og kynferðisleg áreitni er ekki liðin í Tónlistarskóla FÍH
                    <br><br> Starfsfólk skal læra að þekkja einkenni kynferðislegrar áreitni og kynbundins ofbeldis og hvernig ber að bregðast við grun eða vissu um slíkt meðal nemenda skólans
                    <br><br> Öll vinna nemanda skal vera í anda jafnréttis þar sem lögð er áhersla á að þeir rækti með sér samkennd, vináttu og virðingu fyrir skoðunum og lífsgildum annarra. Gætt skal að því að jafnræði sé milli kynja til áhrifa og þátttöku.
                    Einnig skal reynt að jafna hlut nemenda við hvert tækifæri þegar þeir koma fram fyrir hönd skólans eins og kostur er.

                    <br><br> Skólinn setur sér það takmark ár hvert að kynna janfnréttisáætlun sína og sjái til þess að henni sé fylgt í öllu. Stefnan skal kynnt öllu starfsfólki að hausti og vera sýnileg á heimasíðu skólans.


                    <br><br> Skólastjóri Tónlistarskóla FÍH ber ábyrgð á að Mannréttindastefnunni sé framfylgt innan vébanda skólans.

                    <br><br> Jafnréttisáætlun Tónlistarskóla FÍH gildir frá upphafi skólaárs 2019-2020 og til upphafs skólaárs 2020-2021, og er staðfesting á því að skólinn vinni eftir lögum nr. 10/2008 um jafna stöðu og jafnan rétt kvenna og karla.






                </p>




            </div>



        </div>
    </div>
    <hr>
    <!-- /Content-->

    <!-- Footer -->
    <div th:insert="footer :: footer">

    </div>

    <!-- /Footer-->

</body>

</html>