<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/umskolann.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}"></script>

</head>
<body>
<div th:insert="header :: header">

</div>
    <!-- /Nav bar -->
    <!--/*@thymesVar id="user" type="is.tonlistarskolifih.TonlistarskoliFIH.Entity.User"*/-->
    <!--/*@thymesVar id="name" type="String"*/-->
    <!--/*@thymesVar id="password" type="String"*/-->
    <form method="post" action="#" th:action="@{/fih-admin}" th:object="${user}" >
        <input type="text" th:field="*{name}" placeholder="Username" id="name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <input type="password" th:field="*{password}" placeholder="Password" id="password">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <input value="Login" type="submit">
    </form>
    <script src="js/main.js" async defer></script>


<!-- footer -->
<div th:insert="footer :: footer" class="fixed-bottom">

</div>
<!-- /footer -->
</body>
</html>