<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/umskolann.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
</head>

<body>
    <!-- Nav Bar -->
    <!-- justify-content-around prufa fyrir navbar-->
    <div th:insert="/header :: header">

    </div>
    <!-- /Navbar dropdown-->


    <!-- Content-->
    <div class="container mb-5 mt-5">
        <div class="row m-5" style="background-color: #FEB95F; opacity: 80%;">
            <div class=" col-md-7 m-5">
                <h1 class="">Stjórn skólans</h1>
                <h4>Skólastjóri: Róbert Þórhallsson</h4>
                <br><br>
                <h5>Stjórnskipulag</h5>
                <p class="">
                    Skólastjóri hefur yfirumsjón með rekstri skólans, húsnæði, fjármálum og ráðningu starfsmanna. Hann fer með æðsta ákvörðunarvald í öllum málum. Yfirkennari mótar námsbrautir, hefur yfirumsjón með kennslustefnu og útfærslu hennar, námsefni, tónleikahaldi,
                    töflugerð og námsráðgjöf. Skólaritari sér um þjónustu og samskipti við nemendur og kennara varðandi skráningu, skólagjöld, einkunnir, prófskírteini, bréfaskipti, skólasafn, launagreiðslur o.fl. Skólaráð samanstendur af skólastjóra,
                    yfirkennara og einum fulltrúa kennara sem kosinn er árlega á kennarafundi. Skólaráð er vettvangur fyrir skoðanaskipti, stefnumótun og úrlausn erfiðra mála. Ráðið hefur á hendi skipulagningu skólaársins og samræmingu tónleikahalds.
                </p>
            </div>



        </div>
    </div>
    <hr>
    <!-- /Content-->

    <!-- Footer -->
    <div th:insert="/footer :: footer">

    </div>

    <!-- /Footer-->

</body>

</html>