<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<!--<![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/umskolann.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
</head>

<body>
    <!-- Nav Bar -->
    <div th:insert="/header :: header">

    </div>
    <!-- /Navbar -->


    <!-- Content-->
    <div class="container-fluid mb-5">
        <div class="row m-5" style="background-color: lightgray; opacity: 80%;">
            <div class=" col-md-7 m-5">
                <h1 class="text-dark">Saga skólans</h1>
                <p class="text-dark"> Á síðari hluta fimmta áratugarins stofnaði Félag Íslenskra Hljómlistarmanna tónlistarskóla, sem starfaði um eins árs skeið. <br> <br>Á þessum árum voru engin lög til um tónlistarskóla og fjárstuðningur við slíkar stofnanir í lágmarki.
                    Árið 1975 voru sett lög um fjárhagslegan stuðning við tónlistarskóla. Með tilkomu þessara laga rann upp mikið gróskuskeið í tónlistarfræðslu og tónlistariðkun Íslendinga, sem meðal annars hefur alið af sér um 70 tónlistarskóla vítt
                    og breitt um landið, þjóðinni til ómetanlegs gagns og yndis. Forystumenn Félags Íslenskra Hljómlistarmanna gleymdu aldrei tónlistarskóladraumnum og á aðalfundi í mars 1978 var samþykkt að endurvekja tónlistarskóla félagsins. þessi
                    samþykkt var síðan áréttuð á aðalfundi ári seinna. Þá þegar var hafinn undirbúningur skólahaldsins og stóð hann í rúmt ár. <br> <br> Fyrsti skólastjóri var ráðinn Sigurður I. Snorrason og starfaði hann til 1988 er núverandi skólastjóri,
                    Björn Th. Árnason, tók við. Við val á námsbrautum var reynt að bera niður þar sem þörfin þótti mest. Var ákveðið að skipta skólanum í þrjár deildir: 1. Almenna deild með hefðbundna námsbraut. 2. Jazzdeild, en starfræksla slíkrar námsbrautar
                    var þá óþekkt á Íslandi. 3. Fullorðinsfræðsludeild, sem hugsuð var sem menntunarmöguleiki í tónlist fyrir alþýðu manna. <br> Rekstur almennrar deildar og jazzdeildar gekk vel frá upphafi. Gerðar voru nokkrar tilraunir til að starfrækja
                    fullorðinsfræðsludeild, því miður með litlum árangri og var hún lögð niður um óákveðinn tíma. Árið 1990, á tíu ára afmæli skólans, þótti rétt að endurskoða kennslustefnu og uppbyggingu skólans með tilliti til fenginnar reynslu. Gamla
                    deildakerfið var lagt niður og skólanum skipt í tvær nýjar deildir, grunndeild og framhaldsdeild. Grunndeild var hugsuð fyrir undirbúningsnám, en framhaldsdeild fyrir lengra komna nemendur. Í framhaldsdeild var upphaflega boðið upp
                    á þrjár námsbrautir: jazzbraut, sígilda braut og rokkbraut. Aðsókn að rokkbraut var því miður mjög dræm og var því ákveðið að sameina jazz- og rokkbraut. Innan þeirrar brautar geta nemendur ýmist lagt áherslu á jazz- eða rokktónlist.<br>
                    <br><img class="m-2 img-fluid" th:src="@{/img/various/FIH_hopursong.jpg}" alt="mynd" /><br><br> Tónlistarskóli F.Í.H. tók formlega til starfa þann 19. september 1980. Hann starfaði fyrstu árin í húsnæði Félags Íslenskra Hljómlistarmanna að
                    Brautarholti 4. Árið 1989 festu félagið og skólinn kaup á eignum Ingvars Helgasonar h/f að Rauðagerði 27, þar hefur skólinn starfað síðan haustið 1989. Þó að enn sé verið að betrumbæta, er öll aðstaða þegar orðin mjög góð. Frá því
                    að skólinn flutti í Rauðagerði hafa ýmsir nýir þættir bæst við skólastarfið. Strax árið 1989 var komið á fót hljóðritasafni sem geymir geisladiska, hljómplötur og snældur. Hlustunaraðstöðu fyrir nemendur var einnig komið upp sama ár
                    og hún endurbætt verulega vorið 1995. Safninu hefur smám saman vaxið fiskur um hrygg, enda hafa innkaup verið gerð árlega. Árið 1994 var byrjað að kaupa tónleika- og kennsluefni á myndböndum og ári síðar var komið upp skjá aðstöðu
                    fyrir nemendur. Fullkomnu hljóðveri var komið upp árið 1994 og kennsla hafin í upptökum, en nú eru allir tónleikar skólans teknir upp. Það er stefna stjórnenda skólans að halda áfram uppbyggingu á þessum sviðum. Þannig er útlit fyrir
                    að fullkominn ljósabúnaður verði kominn í salinn um það bil sem þessi námsvísir kemur út, haustið 1995, á 15 ára afmæli skólans. Þá er ekki loku fyrir það skotið að nemendur, sem stíga sín fyrstu spor í skólanum haustið 1995 eigi eftir
                    að ganga um sali nýbyggingar félags og skóla við Rauðagerði.
                </p>
            </div>



        </div>
    </div>
    <hr>
    <!-- /Content-->

    <!-- Footer -->
    <div th:insert="/footer :: footer">

    </div>

    <!-- /Footer-->

</body>

</html>